canvas {
	position: fixed;
	top: 0;
	left: 0;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
	font-family: 'Audiowide', 'Times New Roman', cursive;
	padding: 5rem;
	text-align: center;
}